entrypoint = "index.js"
modules = ["nodejs-20"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 3000

[workflows]
runButton = "Start LINE Bot"

[[workflows.workflow]]
name = "Start LINE Bot"
author = 37748729
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
